{
  "presets": ["react", "env", "stage-2"],
  "ignore": "node_modules",
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
