.advanced-filter {
  .container {
    background-color: #f8f8f8;
  }
  label.control-label {
    display: block;
  }
  .fetched-url {
    border-radius: 0px;
  }
  .form-control {
    border-radius: 0px;
    box-shadow: none;
    &.number-type, &.date-type, &.string-type, &.list-type {
      background-repeat: no-repeat;
      background-position: right;
    }
    &.number-type {
      background-image: url(../Img/number.png);
    }
    &.date-type {
      background-image: url(../Img/calendar.png);
    }
    &.string-type {
      background-image: url(../Img/text.png);
    }
    &.list-type {
      background-image: url(../Img/list.png);
    }
  }
  .dropdown, .dropup {
    button.dropdown-toggle {
      border-radius: 0px;
    }
    .dropdown-menu {
      border-radius: 0px;
      li {
        > a {
          height: 26px;
        }
      }
    }
  }
}
