.search {
  background-color: #f8f8f8;
  &-query {
    pre {
      border-radius: 0px;
      border-left: 0px;
      border-top: 0px;
      border-right: 0px;
    }
    &-run-btn {
      float: right;
      &:after {
        clear: both;
      }
    }
  }
  &-quick-filter, &-advanced-filter {
    label.control-label {
      display: block;
    }
    .form-control {
      border-radius: 0px;
      box-shadow: none;
      &.number-type, &.date-type, &.string-type, &.list-type {
        background-repeat: no-repeat;
        background-position: right;
      }
      &.number-type {
        background-image: url(../Img/number.png);
      }
      &.date-type {
        background-image: url(../Img/calendar.png);
      }
      &.string-type {
        background-image: url(../Img/text.png);
      }
      &.list-type {
        background-image: url(../Img/list.png);
      }
    }
    .dropdown, .dropup {
      button.dropdown-toggle {
        border-radius: 0px;
      }
      .dropdown-menu {
        border-radius: 0px;
        li {
          > a {
            height: 26px;
          }
        }
      }
    }
  }
}
